*.class
*.db
*.iml
*.ipr
*.iws
.idea
.gradle
eclipse
idea
build
runs/**
#api

# Package Files #
*.jar
*.war
*.ear

!runs/
!runs/gameTestServer/
!runs/gameTestServer/gameteststructures/
!runs/gameTestServer/gameteststructures/empty.snbt
