*.class
*.db
*.iml
*.ipr
*.iws
gradlew
gradlew.bat
.idea
.gradle
eclipse
idea
gradle
build
run
runs/**
#api

# Package Files #
*.jar
*.war
*.ear

!runs/
!runs/gameTestServer/
!runs/gameTestServer/gameteststructures/
!runs/gameTestServer/gameteststructures/empty.snbt
